@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #f6f9ff;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}

ul,li{
    list-style-type: none;
    margin-bottom: 0;
}


.header{
    height: 80px;
    box-shadow: 0px 3px 8px 0px rgba(148, 148, 148, 0.3);   
}
.header-contents{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
.logo{  
    height: 60px;
    width: auto;
}

.list{
    display: flex;
}

.listitem{
    color: #7a7070;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}

.listitem:first-child{
    margin-right: 80px;
    color: #008000;
    font-size: 20px;
}
.active{
    color: #37a027;
    font-weight: 500;
}

.list-overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #37883e;
    overflow-x: hidden;
    padding-top: 60px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .list-overlay a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .list-overlay a:hover {
    color: #e1ece1;
  }
  
  .list-overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media only screen and (min-width: 992px) {
    #list-overlay {
      display: none;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .navbar {
      display: none;
    }
  }

  @media only screen and (max-width: 992px) {
    .toggle-icon {
      display: none;
    }
  }
  
  @media screen and (max-height: 450px) {
    .list-overlay {
      padding-top: 15px;
    }
    .list-overlay a {
      font-size: 18px;
    }
  }
  
  



.banner {
    padding: 50px 0px;
  }
  
  .banner .big-title {
    color: #3b3939;
    font-size: 1.79rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .banner .big-title span {
    color: #2a862a;
  }
  
  .banner .small-title {
    color: #3b3939;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 25px;
    margin: 0 auto;
  }
  
  .banner .btn-section {
    margin-top: 40px;
  }
  
  .primary-btn {
    background: #2a862a;
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 32px;
  }
  

 .services{
     min-height: 100vh;
     padding-top: 50px;
     padding-bottom: 50px;
 }

 .title-section{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .main-title{
     color: #37a037;
     font-weight: 750;
     font-size: 40px;
 }

 .sub-title{
     color: #707070;
     font-weight: 250;
     font-size: 17px;
     text-align: center;
     width: 45%;
 }

.service-wrapper{
    margin-top: 35px;
}

.service-card{
    background-color: #fff;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 350px;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0px 3px 8px 0px rgba(148, 148, 148, 0.3);"
}

.icon-wrapper{
    background-color: #b0f0a6;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}

.service-header{
    margin-top: 40px;
   text-align: center;
   font-size: 18px;
   font-weight: 800;
}

.service-desc{
    text-align: center;
    margin-right: 8px;
    margin-left: 8px; 
}

.icon-wrapper i{
    color: #37a037;
}

.service-card h5{
    color: #000;
    margin-bottom: 20px;
}

.service-card i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    min-height: 80%;
    background-color: #6c63ff;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.contact-form{
    width: 50%;
    background-color: #f6f9ff;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 16px;
    padding: 30px;
    height: 500px;
}
.contact-form h3{
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}
.contact-form input, textarea{
    display: block;
    background-color: #fff;
    height: 40px;
    width: 80%;
    border: none;
    margin-bottom: 10px;
    box-shadow: 0px 3px 8px 0px rgba(148, 148, 148, 0.3);"
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
}
.contact-form input[type="submit"]{
    background-color: #37a027;
    color: #fff;
    border-radius: 32px;
    width: 30%;
    margin-top: 30px;
}
.plane-icon i{
    font-size: 180px;
    color: #fff;
}
.plane-icon {
    position:absolute ;
    top: 30em;
    right: 12em;
}

.footer-top{
    height: 300px;
    background-color: #37a027;
    padding-top: 30px;
}
.footer-bottom{
    height: 40px;
    background-color: #115007;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
}
.footer-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
.footer-subtitle{
    color: #f6f9ff;
    font-size: 12px;
    font-weight: 300;
}
.social-icons{
    display: flex;
    margin-top: 20px;
    list-style-type: none;
}
.social-icons li{
    margin-right: 15px;
}
.social-icons li i{
    color: #fff;
    font-size: 32px;
}
.useful-links li{
    color: #fff;
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    list-style-type: none;
}
.footer-contact li{
    display: flex;
    color: #fff;
    margin-bottom: 20px;
}
.footer-contact li span{
    margin-right: 10px;
}

.footer-contact li {
    margin-right: 14px;
    font-weight: 300;
}


