/* variables */
$box-shadow: 0px 3px 8px 0px rgba(148, 148, 148, 0.3);
$primary-color: #37a027;
$primary-color-100: #e2fdde;
$primary-color-200: #115007;
$secondary-color: #6c63ff;
$dark: #222222;
$light: #7a7070;
$xlight: #f6f9ff;
$white: #fff;





@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.body {
	background-color: $xlight;
	font-family: "Poppins", sans-serif;
}
h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 0;
}
ul,li {
	list-style-type: none;
	margin-bottom: 0;
}



.header{
    height: 80px;
    box-shadow: $box-shadow;
	.header-contents{
		display: flex;
		height: 80px;
    	align-items: center;
    	justify-content: space-between;
	}
	.logo{  
		height: 60px;
		width: auto;
	}
	.list{
		display: flex;
		.listitem{
			color: $light;
			font-size: 16px;
			font-weight: 300;
			cursor: pointer;
			&:hover{
				color: $primary-color;
			}
			&:not(:last-child){
				margin-right: 5rem;
			}
		}
		.active{
			color: $primary-color;
			font-weight: 500;
		}
		.list-toggler{
			background-color: $light;
		}
		@media only screen and (max-width: 420px){
			.navbar-nav{
				
			}
		}
	}
}
@media only screen and (min-width: 992px) {
    #mySidebar {
        display: none;

    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        display: none;

    }
}

@media screen and (max-height: 450px) {
    .list-overlay {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}




